@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --unnamed-color-df280b: #df280b;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-0072bb: #0072bb;
  --unnamed-color-df270a: #df270a;
  --unnamed-color-707070: #707070;
  --unnamed-color-00a8f0: #00a8f0;
  --unnamed-color-000000: #000000;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  letter-spacing: 0;
}
